{% extends "layout.html" %}
{% block content %}
    
    <h1>あなたは{{ members[num] }}さんですね</h1>

    <form action="/a" method="POST">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ message }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-lg" type="submit" name="status" value=0>帰宅</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-lg" type="submit" name="status" value=1>一時外出</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-lg" type="submit" name="status" value=2>入室</button>
                </div>
            </div>
        </div>
        
        <input type="hidden" name="num" value="{{num}}">

    </form>
    
    <button type="button" onclick="history.back()">戻る</button>

{% endblock %}
